body {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-size: 24px;

}

table {
    margin: : auto;
    width: 50%;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(26, 66, 161);
    border-radius: 2px;
    padding: 2px;
}

tr {
    padding-top: 2px;
    padding-bottom: 2px;
}

th {
    padding-left: 2px;
    padding-right: 2px;
}

.table_name {
    text-align: left;
}

.table_header {
    text-align: center;
}
