table {
    text-align: center;
    border-style: solid;
    border-color: rgb(26, 66, 161);
    border-radius: 25px;
    padding: 2px;
}

.table_name {
    text-align: left;
}

.table_header {
    text-align: center;
}
