body {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 100px;
}

#this-is-the-only-thing-on-the-site {
    text-align: center;
    margin-top: 25%;
    opacity: 1;
    animation-name: fadeintext;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes fadeintext {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}